<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Letní kino Brno</title>
    <link rel="stylesheet" href="{$basePath}/css/style.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-datetimepicker.min.css">
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="{$basePath}/js/bootstrap-datepicker.min.js"></script>
	<script src="{$basePath}/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/live-form-validation.js"></script>
    <script src="{$basePath}/js/main.js"></script>
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
    <div class="page-wrap">
    <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{link Homepage:default}">Program</a>
                        </li>
                        <li>
                            <a href="{link Admin:default}">Admin</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    <div class="container">
	    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    </div>
	{include content}
	</div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright Daniel Hrubý</p>
                </div>
            </div>
        </div>
    </footer>
	{block scripts}
	{/block}
</body>
</html>
