{block content}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Program</h1>
                {control program}
            {snippet program}
                <table class="table table-bordered program">
                    <thead>
                        <tr>
                            <th>Film</th>
                            <th>10</th><th>11</th><th>12</th><th>13</th><th>14</th>
                            <th>15</th><th>16</th><th>17</th><th>18</th><th>19</th>
                            <th>20</th><th>21</th><th>22</th><th>23</th><th>24</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $program as $id => $movie}
                            <tr>
                                <td>{$movie['title']}</td>
                                {for $i = 10; $i <= 24; $i++}
                                    <td>
                                        {if isset($program[$id][$i])}
                                        <span>
                                            <div class="pop-up">
                                                 <p>
                                                    Délka: {$program[$id][$i]->movie->length} min<br>
                                                    Cena: {$program[$id][$i]->price} kč<br>
                                                    Žánry: {foreach $program[$id][$i]->movie->genres as $genre}{$genre->name}{if !$iterator->last} / {/if}{/foreach}
                                                 </p>
                                            </div>
                                            <a href="" class="trigger">{$program[$id][$i]->time|date:'%H:%M'}</a>
                                        </span>
                                        {/if}
                                    </td>
                                {/for}
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            {/snippet}
        </div>
    </div>
</div>
{/block}
{block scripts}
<script type="text/javascript">
	$('.datepicker').datepicker({
	    format: "yyyy-mm-dd"
	});

	    $("#frm-program-program .form-control").on('change', function(){
            $.nette.ajax({
                url: {link changeProgram!},
                data: { time: $("#datepicker").val(), cinema: $(".cinema").val()}
            })
        });

</script>
{/block}
