{block content}
<div class="container">
    <div class="row">
    	<h1>Movies</h1>
		<a href="{link Admin:addMovie}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-plus"></i> Přidat film</a>
		<table class="table table-striped">
        	<thead>
        		<th>Název</th><th>Dělka</th><th></th>
        	</thead>
        	<tbody>
        		{foreach $movies as $movie}
        			<tr>
        				<td>{$movie->title}</td>
        				<td>{$movie->length} min.</td>
        				<td class="text-right">
        					<a href="{link Admin:editMovie $movie->id}" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
        					<a href="{link deleteMovie! $movie->id}" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
        				</td>
        			</tr>
        		{/foreach}
        	</tbody>
        </table>
        <h1>Screening</h1>
		<a href="{link Admin:addScreening}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-plus"></i> Přidat promítání</a>
		<table class="table table-striped">
			<thead>
				<th>Film</th><th>Čas</th><th>Délka</th><th>Kino</th><th>Místnost</th><th>Základní cena</th><th></th>
			</thead>
			<tbody>
				{foreach $screenings as $screening}
					<tr>
						<td>{$screening->movie->title}</td>
						<td>{$screening->time|date:'%d.%m.%Y %H:%M'}</td>
						<td>{$screening->movie->length}</td>
						<td>{$screening->room->cinema->name}</td>
						<td>{$screening->room->name}</td>
						<td>{$screening->price}</td>
						<td class="text-right">
							<a href="{link Admin:editScreening $screening->id}" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
							<a href="{link deleteScreening! $screening->id}" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
						</td>
					</tr>
				{/foreach}
			</tbody>
		</table>
    </div>
</div>
{/block}