html,
body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
	height: 100%;
	margin-bottom: 0px;
}

* {
	margin: 0;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -40px;
}

.page-wrap:after {
	content: "";
	display: block;
}
footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 40px;
}
footer {
	background: #4d4d4d;
	color: #ffffff;
	padding-top: 7px;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

table tbody tr td span{
	position: relative;
}

table tbody tr td span:hover div.pop-up{
	display: block;
}

div.pop-up {
	display: none;
	position: absolute;
	left: -28px;
	top: -80px;
	width: 200px;
	padding: 10px;
	margin-top: 5px;
	background: #eeeeee;
	color: #000000;
	border-radius: 5px;
	font-size: 70%;
	z-index: 999;
}

form td{
	padding-bottom: 10px;
}

.program{
	margin-top: 30px;
}
